/* General Styles */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #b92c2c;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.5) 60%), url('/ArkBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Adjust for vignette effect */
  z-index: -1;
}


#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
}

/* Heading and Paragraph styling */
h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
}

/* Media Query for smaller screens (mobile phones) */
@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }
}

/* Media Query for tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  h1 {
    font-size: 2.2em;
  }

  p {
    font-size: 1.1em;
  }
}
* {
  box-sizing: border-box;
}
